@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  background: $c_bg;
  color: $c_text;
  font-size: $fs_base;
  font-family: $ff;
  font-weight: 700;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
